.messages-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100vh;
    /* z-index: 1000000; */
    position: fixed;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    box-shadow: none;
    border: none;
    background: var(--inst-background);
    color: var(--inst-text);


}


.select-users-container {
    border-right: 1px solid var(--inst-border);
    background-color: var(--inst-background);
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    /* margin: 20px; */
    height: 100%;

    .search-input-wrapper {
        /* margin-bottom: 20px; */
        /* border-bottom: 1px solid var(--inst-border); */
        padding-bottom: 15px;
        margin-right: 10px;

    }

    .search-users-container {
        /* border-bottom: 1px solid var(--inst-border); */
        width: 100%;
        margin-top: 10px;
        margin-right: 10px;
    }

    input {
        width: 100% !important;
        padding: 8px;
        border: none;
        background: var(--inst-more-dropdown-hover);
        border-radius: 12px;
        color: var(--inst-text);
        font-size: 16px;
        height: 6vh;

    }



    .logged-in-user-profile {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        p {
            font-weight: bold;
            font-size: 16px;
        }
    }

    .search-results-list {
        flex-grow: 1;
        overflow-y: auto;
    }

    .search-results-list li {
        display: flex;
        align-items: center;
        padding: 8px;
        cursor: pointer;
        border-radius: 8px;
    }

    .search-results-list li:hover {
        background: var(--inst-more-dropdown-hover);
    }

    .search-results-list img {
        width: 5vw;
        height: 10vh;
        border-radius: 50%;
        margin-right: 10px;
    }
}


.chat-section {
    /* padding: 50px; */
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-color: var(--inst-custom-bg); */

    .chat-header {
        padding: 20px;
        border-bottom: 1px solid var(--inst-border);
        /* font-weight: bold; */
        font-size: 18px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }
    }

    .chat-messages {
        flex-grow: 1;
        overflow-y: auto;
        margin-bottom: 20px;
        margin-right: 10px;
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        justify-content: flex-end;

        .message-item {
            display: flex;
            align-items: center;
            gap: 10px;
            list-style: none;
            margin-bottom: 8px;
            justify-content: flex-end;

        }

        .message-text {
            background-color: #4A5DF9;
            padding: 10px 15px;
            border-radius: 25px;
            max-width: 60%;
        }

        .more-message-btn {
            opacity: 0;
            background: transparent;
            border: none;
            cursor: pointer;
            color: var(--inst-text);
            transition: opacity 0.2s;
        }

        .message-item:hover .more-message-btn {
            opacity: 1;
        }

    }

    .chat-input-wrapper {
        display: flex;
        border-top: 1px solid var(--inst-border);
        padding: 15px;

        input {
            flex-grow: 1;
            padding: 8px;
            border: none;
            background: transparent;
            border: 1px solid var(--inst-more-dropdown-hover);
            border-radius: 12px;
            color: var(--inst-text);
            font-size: 16px;
        }

        button {
            position: absolute;
            right: 10px;
            top: 100vh;
            transform: translateY(-185%);
        }

    }

}