.post-list-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: 2px;
	border-radius: 5px;
	margin-top: 3rem;
	overflow-y: auto;
	padding-bottom: 20px;
	scrollbar-width: thin;
	scrollbar-color: var(--inst-scrollbar) transparent;
}

/* Instagram-like rectangles */
.post {
	position: relative;
	width: 100%;
	aspect-ratio: 4 / 5;
	background: #ddd;
	overflow: hidden;
}

.post img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* Medium screens */
@media (max-width: 1024px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Mobile */
@media (max-width: 768px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 2px;
		margin-top: 1rem;
		padding: 10px;
	}

	.post {
		width: 100%;
		aspect-ratio: 1;
	}
}