.post-preview {
	position: relative;
	width: 100%;
	aspect-ratio: 1;
	cursor: pointer;
	overflow: hidden;
}

.post-preview img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

/* Overlay - */
.post-overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
}

/*hover - overlay  */
.post-preview:hover .post-overlay {
	opacity: 1;
}

/* Stats container */
.post-stats {
	display: flex;
	gap: 2rem;
	color: white;
	font-weight: 600;
	font-size: 16px;
}

.search-bar {
	display: none;
}

.search-icon {
	display: none;
}

.stat {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.stat svg {
	font-size: 20px;
}

/* Medium screens */
@media (max-width: 1024px) {
	.post-list-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* Mobile */
@media (max-width: 768px) {
	.post-list-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.search-container {
		max-width: 100%;
	}

	.search-bar {
		display: inline-block;
		background-color: var(--inst-buttons);
		border: none;
		padding: 8px 8px 8px 40px;
		border-radius: 10px;
		width: 100%;
		max-width: 96vw;
		font-size: 14px;
	}

	.search-icon {
		display: inline-block;
		position: absolute;
		left: 12px;
		top: 50%;
		transform: translateY(-50%);
		color: #8e8e8e;
		font-size: 18px;
		pointer-events: none;
		z-index: 1;
	}

	.search-bar:focus {
		outline: none;
		border-color: #a8a8a8;
		/* background-color: #fff; */
	}

	.search-bar::placeholder {
		color: #8e8e8e;
	}

	.search-bar:focus {
		outline: none;
		border-color: #a8a8a8;
		/* background-color: #fff; */
	}
}